<footer class="footer-toolbar">
  <div class="container">
    <div class="col">
      <a id="btnSocial" alt="linkedin homepage" aria-label="Visit LinkedIn Page" href="https://www.linkedin.com/"
        target="_blank" rel="noreferrer"><i class="fa fa-linkedin-square"></i></a>
      <a id="btnSocial" alt="Web-To-Mobile-Proj Github Page" aria-label="Visit the websites GitHub Repo"
        href="https://github.com/moorStef/Web-To-Mobile-Proj/tree/pwa" target="_blank" rel="noreferrer"><i
          class="fa fa-github"></i></a>
      <a id="btnSocial" alt="Be The Match Instagram Page" aria-label="Visit the 'Be the Match' Instagram Page"
        href="https://www.instagram.com/bethematch/" target="_blank" rel="noreferrer"><i
          class="fa fa-instagram"></i></a>
      <a id="btnSocial" alt="Email" aria-label="Email Website Developer"
        href="mailto:stefani.newton@digitechsystems.com"><i class="fa fa-envelope"></i></a>
    </div>
  </div>

  <div id="txtCopyright" class="footer-copyright text-center py-3">Developed By:
    <br>
    <span>Stefani Newton</span>
    <!-- <a href="https://github.com/moorStef"> Stefani Newton</a> -->
  </div>
</footer>