
<meta name="Angular Material Components Page" content="Angular material components pulled straight from documentation to be used for testing performance as PWA">
<div class="tab-container">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="List">
            <mat-list>
                <h3 mat-subheader>Folders</h3>
                <mat-list-item *ngFor="let folder of folders">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 mat-line>{{folder.name}}</h4>
                    <p mat-line> {{folder.updated | date}} </p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Notes</h3>
                <mat-list-item *ngFor="let note of notes">
                    <mat-icon mat-list-icon>note</mat-icon>
                    <h4 mat-line>{{note.name}}</h4>
                    <p mat-line> {{note.updated | date}} </p>
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label="Expansion Panel">
                <mat-accordion class="example-headers-align">
                        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Personal data
                            </mat-panel-title>
                            <mat-panel-description>
                              Type your name and age
                              <mat-icon>account_circle</mat-icon>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                      
                          <mat-form-field>
                            <input matInput placeholder="First name">
                          </mat-form-field>
                      
                          <mat-form-field>
                            <input matInput type="number" min="1" placeholder="Age">
                          </mat-form-field>
                      
                          <mat-action-row>
                            <button mat-button color="accent" (click)="nextStep()">Next</button>
                          </mat-action-row>
                        </mat-expansion-panel>
                      
                        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Destination
                            </mat-panel-title>
                            <mat-panel-description>
                              Type the country name
                              <mat-icon>map</mat-icon>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                      
                          <mat-form-field>
                            <input matInput placeholder="Country">
                          </mat-form-field>
                      
                          <mat-action-row>
                            <button mat-button color="white" (click)="prevStep()">Previous</button>
                            <button mat-button color="accent" (click)="nextStep()">Next</button>
                          </mat-action-row>
                        </mat-expansion-panel>                      
                      </mat-accordion>
        </mat-tab>
        <mat-tab label="Tree">
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                          <button mat-icon-button disabled></button>
                          <mat-checkbox class="checklist-leaf-node"
                                        [checked]="checklistSelection.isSelected(node)"
                                        (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
                        </mat-tree-node>
                      
                        <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
                          <button mat-icon-button disabled></button>
                          <mat-form-field>
                            <input matInput #itemValue placeholder="New item...">
                          </mat-form-field>
                          <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
                        </mat-tree-node>
                      
                        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                          <button mat-icon-button matTreeNodeToggle
                                  [attr.aria-label]="'toggle ' + node.filename">
                            <mat-icon class="mat-icon-rtl-mirror">
                              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                          </button>
                          <mat-checkbox [checked]="descendantsAllSelected(node)"
                                        [indeterminate]="descendantsPartiallySelected(node)"
                                        (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
                          <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
                        </mat-tree-node>
                      </mat-tree>
        </mat-tab>
    </mat-tab-group>
</div>
