<meta name="Native API Page" content="Testing using mobile device plugins with PWA">
<div class="container">
    <h3>TESTING NATIVE API FEATURES WITH CORDOVA</h3>

    <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
    </mat-list>

    <div class="align-button-right">
        <button class="btn-refresh" mat-raised-button color="primary">Refresh</button>
    </div>
</div>