<meta name="Native API Page" content="Testing using mobile device plugins with PWA">
<div class="container">
    <mat-table id="table" [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- NAME COLUMN -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>

        <!-- VALUE COLUMN -->
        <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.value}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- <div class="align-button-right">
        <button class="btn-refresh" mat-raised-button color="primary" (click)="subscribeToNotifications()">Subscribe</button>
    </div> -->
</div>