@import '~@angular/material/theming';
a {
    color: white;
    text-decoration: none;
    transition: background-color 0.5s ease !important;
    &:hover {
        color: palegreen;
    }
}

.icon {
    transition: background-color 0.5s ease !important;

    &:hover {
        background-color: palegreen !important;
    }
}

.mat-menu-item {
    &:hover {
        text-decoration: none;
        color: whitesmoke !important;
    }
}