.col {
  max-height: 750px;
  overflow-y: auto;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

button {
    transition: all .3s ease;
    &:hover {
        background-color: palegreen;
        color: darkslategray;
    }
}

a {
    transition: all .3s ease;
    text-decoration: none;
    &:hover {
        background-color: palegreen;
        color: darkslategray;
    }
}

.inner-card, .inner-card-header {
    justify-content: center;
    align-content: center;
}

.inner-card {
    margin:10px;
  //  width: 100%;
}

@media screen and (min-width: 600px) {
  mat-card-actions {
    -webkit-flex-direction: row !important;
    flex-direction: row !important;
  }
  mat-card-actions > * {
    -webkit-flex: 1;
    flex: 1;
  }
}

@media screen and (max-width: 600px) {
 
  mat-card-actions {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .col {
    max-height: 500px;
  }
}
