<div class="container">
	<span class="center-content">
		<mat-card class="example-card">
			<mat-card-header class="mat-card-header">
				<mat-card-title>Angular Material!</mat-card-title>
			</mat-card-header>

			<img class="card-img" mat-card-image src="../../assets/icons/icon-384x384.png" alt="Angular Icon">

			<mat-card-actions class="action-buttons">
				<a mat-raised-button color="primary" href="/material">Components</a>
				<a mat-raised-button color="primary" href="/native">Native APIs</a>
				<a mat-raised-button color="primary" href="/http">HTTP</a>
			</mat-card-actions>
		</mat-card>
	</span>
</div>