.container {
    width: 40% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    margin: 10px;
    flex: 1 1 auto;
    text-align: center;
}

.card-img {
   // width: 40% !important;
    height: 50% !important; 
}
 