.container {
    width: 40% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    margin: 10px;
    flex: 1 1 auto;
    text-align: center;
}

.action-buttons a {
    width: 120px !important;
    margin: 10px;
    border: none;
    text-decoration: none;
    &:hover {
        background-color: palegreen;
        color: darkslategrey;
      // filter: brightness(150%);
    }
}

.card-img {
    width: 384px;
    height: auto;
}

.mat-card-header {
    justify-content: center;
}
 