<div class="container">
	<div class="col-sm">
		<mat-card class="example-card">
			<mat-card-header class="mat-card-header">
				<mat-card-title>Angular Material!</mat-card-title>
			</mat-card-header>

			<img mat-card-image class="card-img" src="assets/icons/icon-384x384.png" alt="Angular Icon">

			<mat-card-actions class="action-buttons">
				<a *ngFor="let btn of btnnav" mat-raised-button color="primary" routerLink="{{btn.path}}"
					routerLinkActive="active">{{btn.title}}</a>
			</mat-card-actions>
		</mat-card>
	</div>
</div>